body{
    margin:auto;
	background: #141414;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
}
/*--------- Contenedor para el header y pelicula principal---------- */

.banner{
    position: relative;
}

header{
    top: 0px;
    position:fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 1;
}

header nav{
    display: flex;
    align-items: center;
}


header .logo{
    margin-left:4vw;
	width: 7vw;
}

header ul li{
    display: inline-block;
    padding-right: 15px;
    font-size: 14px;
}

header a{
    color: #e5e5e5;
    text-decoration: none;
}

 header a:hover{
    color: #b3b3b3;
}

.secondary-navigation{
    display: flex;
    align-items: center;
    position: absolute;
    right: 4%;
    top: 0;
    height: 100%;
}

.secondary-navigation .nav-element button{
    display: inline-block;
    cursor: pointer;
    border: none;
    background: 0 0;
    color: #fff;
}


.search{
    font-size: 1.1em;
}

.notifications{
    font-size: 1.3em;
}

.secondary-navigation .nav-element:not(:last-child){
    margin-right: 20px;
}

.secondary-navigation .nav-element .perfil-box{
    width: 100%;
}


.secondary-navigation .nav-element .perfil-box img{
    width: 30px;

}

.pelicula-principal{
    background: linear-gradient(0deg, rgba(20,20,20,1) 5%, rgba(11,11,11,0.10407913165266103) 50%, rgba(0,0,0,0) 100%), url("../img/pelicula-principal.webp");
    position: relative;
    width: 100%;
    height: 50vw;
    background-size: cover;
    z-index: 0;

    font-size: 16px;
    color: #fff;
    display: flex;
	align-items: center;
}

#content-media{
    position: relative;
    top: -10vw;
}

.pelicula-principal .contenedor{
    width: 35%;
    margin: 0 auto  6.2em 4vw;
}

.pelicula-principal .contenedor .title-pelicula-principal{
  max-width: 100%;
}

.pelicula-principal .descripcion{
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

.pelicula-principal .boton{
    padding: 1vw 2vw 1vw 2.4vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    cursor: pointer;
    transition: .3s ease all;
	font-size: 1.12em;
    font-weight: bold;
    border-radius: 0.31em;
    border: none;

}

.pelicula-principal .boton.izquierda{
    background: white;
    color: black;
}

.pelicula-principal .boton.izquierda:hover{
    background-color: rgba(255,255,255,0.75);
}

.pelicula-principal .boton.derecha{
    background-color: rgba(109,109,110,0.7);
    color: white;
}

.pelicula-principal .boton.derecha:hover{
    background-color: rgba(109,109,110,0.4);
    color: white;
}


.pelicula-principal .boton i{
    margin-right: 10px;
}



.contenedor-titulo-indicadores {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-indicadores h3 {
    vertical-align: bottom;
    line-height: 1.25vw;
    font-size: 1.4vw;
    color: #e5e5e5;
    font-weight: 700;
    margin-bottom: 0;
}

.contenedor-titulo-indicadores .indicadores{
    margin-right: 30px;
}

.contenedor-titulo-indicadores .indicadores button {
	background: rgb(56, 56, 56);
	height: 2px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-indicadores .indicadores button:hover,
.contenedor-titulo-indicadores .indicadores button.activo {
	background: rgb(184, 184, 184);
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.contenedor-peliculas {
    padding-left:4vw;
}

.contenedor-peliculas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.contenedor-peliculas .contenedor-principal .flecha-izquierda,
.contenedor-peliculas .contenedor-principal .flecha-derecha {
    visibility: hidden;
	position: absolute;
	border: none;
    background: rgba(20,20,20,.5);
	font-size: 40px;
	height: 80%;
	line-height: 40px;
	width: 40px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.contenedor-peliculas .contenedor-principal:hover .flecha-izquierda,
.contenedor-peliculas .contenedor-principal:hover .flecha-derecha{
    visibility: visible;
}

.contenedor-peliculas .contenedor-principal .flecha-izquierda:hover,
.contenedor-peliculas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .6);
}

.contenedor-peliculas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.contenedor-peliculas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.contenedor-peliculas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.contenedor-peliculas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.contenedor-peliculas .contenedor-carousel .carousel .pelicula {
    margin-right: 6px;
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.contenedor-peliculas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.contenedor-peliculas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
    border-radius: 4px;
}





@media screen and (min-width:950px) {
    .banner header{
        height: 68px;
    }
}

@media screen and (max-width:840px) {

    .contenedor-peliculas .contenedor-carousel .carousel .pelicula{
        min-width: 35%;
    }

    .contenedor-peliculas .contenedor-principal .flecha-izquierda,
    .contenedor-peliculas .contenedor-principal .flecha-derecha{
        width: 20px;
    }

    .contenedor-titulo-indicadores h3{
        font-size: 12px;
    }

    .pelicula-principal .boton{
        font-size: 1.2vw;
    }

}







